h4.title {
    color: #00afa6;
    font-weight: 600;
    font-size: large;
}

.cntrBtnRow{
    margin: 15px 0;
 }

 .title {
    font-weight: bold;
    color: #00afa6;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}