.mat-accordion .mat-expansion-panel:last-of-type,
.mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 12px !important;
}

.accordionTitle {
    color: #00afa6;
    font-size: 16px;
}
