<h1 mat-dialog-title>
  Password
</h1>

<div mat-dialog-content>
  <ng-container *ngIf="!appGen.isNullOrUndefined(message)">
    <p [innerHTML]="message"></p>
  </ng-container>


  <div class="boxArea" *ngIf="showCambiaPassword">
    <form [formGroup]="form" autocomplete="off">

      <div class="input-row" fxLayout="column" fxLayout.lt-sm="column" fxLayoutGap="3%" fxLayoutGap.lt-md="0px">

        <mat-form-field class="full-width" fxFlex="30" id="pwd">
          <mat-label>Password attuale</mat-label>
          <input type="password" matInput required autocomplete="current-password" formControlName="passwordAttuale">
        </mat-form-field>
        <mat-form-field class="full-width" fxFlex="30">
          <mat-label>Nuova password</mat-label>
          <input type="password" matInput required formControlName="passwordNuova" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="full-width" fxFlex="30">
          <mat-label>Conferma password</mat-label>
          <input type="password" matInput required formControlName="confermaPassword" autocomplete="off"
            [errorStateMatcher]="matcher">
          <mat-error *ngIf="form.hasError('notSame')">
            Le password non corrispondono
          </mat-error>
        </mat-form-field>
      </div>
    </form>

  </div>


</div>


<div class="input-row cntrBtnRow" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="end" fxLayoutGap="2%"
  fxLayoutGap.lt-md="10px">

  <button mat-raised-button color="warn" (click)="onDismiss()" *ngIf="showChiudi">
    <mat-icon>cancel</mat-icon>
    Chiudi
  </button>
  <button mat-raised-button color="primary" *ngIf="showBtnCambiaPassword && !showCambiaPassword"
    (click)="showCambiaPassword =! showCambiaPassword">
    <mat-icon>update</mat-icon>
    Cambia password
  </button>
  <button mat-raised-button color="primary" *ngIf="showCambiaPassword" (click)="onSubmit()">
    <mat-icon>save</mat-icon>

    Salva
  </button>
</div>