.filtri {
    padding-bottom: 20px;
}

.btnFiltri button {
    margin: 5px;
}

.title {
    color: #00afa6;
}

mat-divider{
    margin: 25px 0;
    position: relative !important;
    border: 0.5px solid #e1e1e1;
}