#btnModal {
    float: right !important;
    padding: 15px 0 !important;
}

* {
    font-size: 16px;
}

#companyName span {
    margin-right: 5px;
}

img {
    margin-right: 10px;
}

p {
    margin: 25px 0;
}

#serialnumber {
    position: relative;
    top: -8px;
    font-weight: 700;
}