.title {
    font-weight: bold;
    color: #00afa6;
    font-size: 20px;
    margin-bottom: 20px;
}

.full-width{
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: flex-end;
}

.filtri{
    margin-bottom: 36px;
}

.mat-column-approvazione{
    display: flex;
    justify-content: center;
}

.mat-column-mediciAssociati{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

::ng-deep .mat-tooltip  {
    white-space: pre-line !important;
  }