 .boxArea {
     margin-bottom: 60px;
 }
 
 mat-divider {
     margin-bottom: 15px;
 }
 
 .btnProsegui {
     padding-bottom: 55px;
 }
 
 .ctnrList {
     //  padding-top: 55px;
     mat-divider {
         margin-bottom: 60px;
     }
 }

 .mat-accordion .mat-expansion-panel:first-of-type{
    border-top-right-radius: 12px !important;
    border-top-left-radius: 12px !important;
}

.mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom-right-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}



.mat-expansion-panel-header.mat-expanded {
    
    border-radius:  12px !important;
}
