<mat-card class="linfaCard">
    <mat-card-title>
        <!-- <h3 class="title">Nutritional Risk Screening 2002 (NRS-2002)</h3> -->
    </mat-card-title>
    <mat-card-content>

        <h3 class="subTitle">Pre-screening</h3>


        <div class="input-row" fxLayout="column" fxLayout.lt-sm="column" *ngIf="domande && domande.length>0">
            <ng-container *ngFor="let domanda of domande; let i = index;">

                <mat-checkbox class="checkboxCust" fxFlex="10" [checked]="domanda.selected" [disabled]="isRiepilogoVisita" (change)="selectAnswer(domanda,$event)">
                    <span>{{domanda.domanda}}</span>
                </mat-checkbox>
            </ng-container>

        </div>




        <div class="input-row descriptionHint" fxLayout="row" fxLayout.lt-sm="column">

            <mat-hint>
                Se la risposta è SI ad almeno una domanda è necessario fare lo screening Se la risposta è NO a tutte le domande il paziente deve essere rivalutato ogni settimana.
            </mat-hint>

        </div>

        <ng-container *ngIf="showTable">

            <!--
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap.lt-md="0px" *ngIf="showPunteggio">
          <mat-card class="mat-elevation-z8" id="boxValutazioni">
            <h3>Punteggio:
              <span class="resValutazioni"> {{punteggio}} </span>
            </h3>
          </mat-card>
        </div> -->
            <div class="tableDiv">

                <mat-table id="table" [dataSource]="nrsQuestion.statoNutrizionale.data">

                    <ng-container matColumnDef="livello">
                        <mat-header-cell *matHeaderCellDef>Livello</mat-header-cell>
                        <mat-cell *matCellDef="let data" data-label="Alterato stato nutrizionale">{{data.livello }}
                            <br> Punteggio: {{data.punteggio}}

                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="domanda">
                        <mat-header-cell *matHeaderCellDef>Alterato stato nutrizionale</mat-header-cell>
                        <mat-cell *matCellDef="let data" data-label="Alterato stato nutrizionale" [innerHTML]="data.domanda"></mat-cell>
                    </ng-container>



                    <ng-container matColumnDef="pulsanti">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell class="pulsantiTab" *matCellDef="let data" style="justify-content:flex-end">


                            <mat-checkbox [checked]="data.selected" (change)="selectStatoNutrizionale(1,data,$event)"></mat-checkbox>

                        </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="dataViewsColumns"></mat-header-row>
                    <mat-row *matRowDef="let row;columns:dataViewsColumns"></mat-row>
                </mat-table>

            </div>

            <div class="tableDiv">

                <mat-table id="table1" [dataSource]="nrsQuestion.patologia.data">

                    <ng-container matColumnDef="livello">
                        <mat-header-cell *matHeaderCellDef>Livello</mat-header-cell>
                        <mat-cell *matCellDef="let data">{{data.livello }}
                            <br> Punteggio: {{data.punteggio}}

                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="domanda">
                        <mat-header-cell *matHeaderCellDef>Gravità della patologia (≈ aumento dei fabbisogni)</mat-header-cell>
                        <mat-cell *matCellDef="let data" data-label="Gravità della patologia (≈ aumento dei fabbisogni)" [innerHTML]="data.domanda">
                            <!-- {{data.gravitaPatologia }} -->
                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="pulsanti">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell class="pulsantiTab" *matCellDef="let data" style="justify-content:flex-end">

                            <mat-checkbox [checked]="data.selected" (change)="selectStatoNutrizionale(2,data,$event)"></mat-checkbox>
                        </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="dataViewsColumns"></mat-header-row>
                    <mat-row *matRowDef="let row;columns:dataViewsColumns"></mat-row>

                </mat-table>

            </div>
        </ng-container>

        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap.lt-md="0px" *ngIf="punteggioTotale!==null">
            <mat-card class="mat-elevation-z8" id="boxValutazioni">
                <h3>Punteggio totale:
                    <span class="resValutazioni"> {{punteggioTotale}} </span>
                </h3>
                <mat-divider></mat-divider>
                <div>
                    <h3>
                        <ng-container *ngIf="punteggioTotale >=3">Il paziente è a rischio nutrizionale e si deve stendere un programma nutrizionale.</ng-container>
                        <ng-container *ngIf="punteggioTotale < 3">Rivalutazione settimanale del paziente. Se il paziente ha in programma un intervento di chirurgia maggiore deve essere steso un programma nutrizionale per prevenire un rischio nutrizionale</ng-container>
                    </h3>
                </div>
            </mat-card>
        </div>
    </mat-card-content>
    <div class="cntrBtnRow" fxLayout="row" fxLayoutAlign="end" fxLayout.lt-sm="column" fxLayoutGap="2%" fxLayoutGap.lt-md="10px">



        <button mat-raised-button [color]="punteggioTotale?'accent':'primary'" [disabled]="isRiepilogoVisita || this.disableSaveBtn ||!showTable" (click)="saveNewNRS()" class="btnFooterCard">
      <mat-icon>save</mat-icon>
      {{punteggioTotale?'Aggiorna il punteggio':'Calcola il punteggio'}}
    </button>

    </div>
</mat-card>
