#dividerBtn {
    margin: 25px 0;
}

.checkboxCust {
    max-width: 100% !important;
    margin: 20px 0 20px 0;
    // }
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
    width: 23px !important;
    height: 23px !important;
}

.divcheckbox {
    margin: 10px;
}

.numberPeople {
    font-size: medium;
    font-weight: 700;
}

.keyTitle {
    text-transform: capitalize;
    color: #00afa6;
    font-weight: 600;
    font-size: large;
    margin: 5px 0;
}

mat-divider:not(#dividerBtn) {
    margin: unset !important;
}

.mainContainer {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
}

#imagePeople {
    // img{
    //     opacity: 0.7;
    //     width: 60px;
    //     top:65px;
    // right:30px;
    // position: absolute
    // }
    mat-icon {
        top: 60px;
        right: 75px;
        position: absolute;
        font-size: 60px !important;
        color: #dadada;
    }
}

mat-card-title {
    z-index: 1;
    position: relative;
    margin-bottom: unset !important;
}

.mat-card-content {
    padding: 0px !important;
}

.mat-icon-people {
    font-size: 43px !important;
    vertical-align: middle !important;
}

.mat-content-position {
    margin-left: 65px !important;
    color: #00aed6;
}

.box_bianco {
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 10px 20px #006A8141 !important;
    border-radius: 20px !important;
    opacity: 1 !important;
    padding: 20px !important;
    width: 275px;
    // height: 120px;
    cursor: pointer;
}

.box_bianco_numero {
    font-size: 35px !important;
    color: #00AFA6 !important;
    font-weight: bold;
}

.box_bianco_titolo {
    font-size: 19px !important;
    color: rgba(0, 0, 0, 0.87) !important;
    white-space: pre-wrap;
    width: 100%;
    overflow-wrap: break-word;
    min-height: 50px;
}

.btnAction button {
    float: right;
    background-color: #272F33;
    cursor: pointer;
}

mat-card-content {
    margin: 0px 5px;
}

.title {
    font-weight: bold;
    color: #00afa6;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}