<ng-container *ngIf="dataSource.data.length <= 0 && isRiepilogoVisita">
  <div class="input-row" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="5%" fxLayoutGap.lt-md="0px">

    <h3 class="title">Nessun dato presente</h3>
  </div>
</ng-container>
<mat-card class="linfaCard" [class]="dataSource.data.length <= 0 ? 'hideBox': ''">

  <div *ngIf="!isRiepilogoVisita" class="cntrBtnRow" fxLayout="row" fxLayoutAlign="end" fxLayout.lt-sm="column"
    fxLayoutGap.lt-md="0px">
    <button mat-raised-button color="primary" class="btnTopCard" matTooltipPosition="after" (click)="nuovo()">
      <mat-icon>add_circle_outline</mat-icon>
      Aggiungi
    </button>

  </div>

  <ng-container *ngIf="dataSource.data.length > 0">

    <mat-card-content>

      <mat-table id="table" [dataSource]="dataSource">

        <ng-container matColumnDef="macroPatologia">
          <mat-header-cell *matHeaderCellDef>MacroPatologia</mat-header-cell>
          <mat-cell *matCellDef="let anamnesi" data-label="MacroPatologia">{{anamnesi.macroPatologia }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="patologia">
          <mat-header-cell *matHeaderCellDef>Patologia</mat-header-cell>
          <mat-cell *matCellDef="let anamnesi" data-label="Patologia">{{anamnesi.patologia }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="descrizione">
          <mat-header-cell *matHeaderCellDef>Descrizione</mat-header-cell>
          <mat-cell *matCellDef="let anamnesi" data-label="Descrizione">
            <span class="truncate-text">{{anamnesi.descrizione}}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pulsanti">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell class="pulsantiTab" *matCellDef="let anamnesi" style="justify-content:flex-end">
            <mat-icon class="material-icons-outlined" *ngIf="!isRiepilogoVisita"
              matTooltip="Visualizza / Modifica anamnesi" (click)="dettaglio(anamnesi.id)" color="primary">edit
            </mat-icon>
            <mat-icon *ngIf="!isRiepilogoVisita" matTooltip="Elimina anamnesi" (click)="delete(anamnesi.id)"
              color="warn">
              delete
            </mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="dataViewsColumns"></mat-header-row>
        <mat-row *matRowDef="let row;columns:dataViewsColumns"></mat-row>
      </mat-table>

    </mat-card-content>
  </ng-container>
</mat-card>