.ospedale{
    margin-top: 36px;
}

.filtri{
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 12px 12px 0px 0px;
}

.header-tabella{
    border-radius: 0px 0px 12px 12px;
}

.header-associato{
    display: flex;
    justify-content: center;
}

.associato{
    display: flex;
    justify-content: center;
}
