.arrow-button {
    justify-content: flex-end !important;
    padding: 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.noBorder {
    border-bottom: none;
}

.dettaglioAnalisi {
    width: 100%;
}