.exit-button{
    position: relative;
    top: 0;
    left: 96%;
    background-color: transparent;
    box-shadow: none;
  }

  .note-span{
    margin: 4px;
    padding: 4px;
  }

  .save-button {
    float: right;
    margin-top: 4px;
    margin: 4px;
}