.alert {
    color: red
}

.hide {
    display: none !important;
}

.searchBox {
    border: 1px solid rgb(231, 231, 231);
    background-color: #fff;
}

.headerColor {
    background-color: rgb(231, 231, 231);
}
